
#app {
  .tableCommon {
    .el-table th {
      /*表头背景色 */
      background: #f8f8f9 !important;
      color: #333;

      &>.cell {
        font-size: 14px;
      }
    }
    .fd-button-bottom{
      padding-bottom: 16px;
    }
    .fd-button-nav {
      display: flex;
      align-items: center;
    }
    .fd-buttons-icon{
      i{
        cursor: pointer;
      }
    }
    .is-disabled {
      color: #ccc !important;
      &:hover {
        color: #333 !important;
        cursor: not-allowed;
        background-image: none;
        background-color: #fff;
        border-color: #ebeef5;
      }
    }
  }
}
